spring:
  config:
    import: optional:file:.env
  application:
    name: sed
  datasource:
    url: ${DEFAULT_DB_URL}
    username: ${DEFAULT_DB_USERNAME}
    password: ${DEFAULT_DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080